@use 'src/styles/variables' as *;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 29px 0 20px;
}

.line {
  margin-left: 0 120px 0 120px;
  border: 1px;
}

.number {
  font-size: 64px;
}

.text {
  font-size: 15px;
  color: $color_beige;
}
