$color_white: #fff;

$color_beige: #c4c4c4;

$color_grey: #f1f1f1;

$color_grey_light: #747474;

$color_grey_dark: #343434;

$color_purple: #4340da;

$color_purple_dark: #1a1885;

$color_blue: #0832de;
