@use 'src/styles/variables' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 235px;
  background-color: $color_grey;
  padding: 32px;
  font-size: 16px;
  transition: width 0.2s ease;
}

.sidebar.exit {
  width: 120px;

  .text {
    display: none;
  }
}

.top {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 20px;
}

.list {
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.item a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 12px;
  border-radius: 10px;
  color: $color_grey_dark;
}

.active a {
  background-color: $color_purple;
  color: $color_white;
}

.bottom {
  margin-top: auto;
  cursor: pointer;
}

.signOut {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.expanded {
  margin-top: 10px;
}
