@use 'src/styles/variables' as *;

.sidebar {
  width: 235px;
  background-color: $color_grey;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 32px;
  font-size: 16px;
}

.top {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.item a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 12px;
  border-radius: 10px;
  color: $color_grey_dark;
}

.active a {
  background-color: $color_purple;
  color: $color_white;
}

.signOut {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
