@use "src/styles/variables" as *;

.loader {
  display: block;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    animation: prixClipFix 2s linear infinite;
    border-style: solid;
  }
}

.primary::before {
  border-color: $color_purple;
}

.secondary::before {
  border-color: #fff;
}

.small {
  width: 16px;
  height: 16px;

  &::before {
    border-width: 3px;
  }
}

.medium {
  width: 30px;
  height: 30px;

  &::before {
    border-width: 4px;
  }
}

.large {
  width: 48px;
  height: 48px;

  &::before {
    border-width: 5px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
